.blog {
  display: block;
  width: 90%;
  max-width: 772px;
  margin: 0 auto;
  margin-bottom: 8mm;
}

.blog ol {
  list-style: none;
}

.blog a,
.blog * > a {
  display: inline;
  border-bottom: 0.4mm solid var(--wrap-bg);
  font-weight: 500;
}

.blog hr {
  border-bottom: 0.2mm solid var(--line);
}

.blog a:hover,
.blog a:active {
  color: rgb(26, 94, 156);
}

.blog h1,
.blog h2,
.blog h3 {
  font-weight: 500;
}

.blog h1 {
  font-size: calc(5mm + 0.1vw);
  margin-top: 12mm;
  margin-bottom: 1mm;
}

.blog h2 {
  font-size: calc(4mm + 0.1vw);
  margin: 6mm 0 1mm 0;
}

.blog p,
.blog li,
.blog dl,
.blog pre,
.blog table th,
.blog table td {
  line-height: 1.7;
  padding: 0;
  letter-spacing: 0.02em;
  font-weight: 300;
}

.blog ol {
  counter-reset: number;
}

.blog ol li {
  display: flex;
  counter-increment: number;
  margin-left: 4mm;
}

.blog ol li:before {
  content: counters(number, ".") ". ";
  font-weight: 500;
  margin-right: 3mm;
}

.blog ul > li::marker {
  display: block;
  font-size: 4.6mm;
  color: var(--wrap-bg);
}

.blog ul li {
  margin-left: 8mm;
  padding-left: 2mm;
}

.blog em {
  font-style: italic;
}

.blog pre,
.blog table tr {
  border: 1px solid var(--line);
  background-color: var(--line-bg);
}

.blog code > pre {
  width: 100%;
}

.blog pre {
  border-radius: 2mm;
}

.blog * > code {
  border: 1px solid var(--line);
  padding: 0 1.6mm;
  border-radius: 1.4mm;
  color: rgb(244, 112, 103);
  word-break: break-all;
  display: inline-block;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 3.2mm;
  font-weight: 400;
}

.blog pre > code {
  display: block;
  word-wrap: normal;
  overflow-x: auto;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  color: inherit;
  border: none;
  font-size: 3.2mm;
  padding: 0 0.4em;
  margin: 3mm;
  font-weight: 300;
}

.blog blockquote {
  display: block;
  width: calc(100% - 1.1em);
  letter-spacing: 0.01em;
  border-radius: 1px;
  padding-left: 0.8em;
  border-left: 2mm solid var(--wrap-bg);
  margin: 2em 0;
}

.blog table {
  display: block;
  flex-direction: column;
  border-collapse: collapse;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 100%;
  font-size: 3.2mm;
  margin: 2em 0;
}

.blog table th,
.blog table td {
  padding: 0.4em 1em;
  border-right: 1px solid var(--line);
}

.blog table th:last-child,
.blog table td:last-child {
  border-right: none;
}

.blog table th,
.blog strong {
  font-weight: 500;
}
