.blog,
.articleToc li {
    font-size: calc(0.89em + 0.1vw);
}

.blog,
.articleToc {
    margin: 0 auto;
}

.blog {
    display: block;
    letter-spacing: 0.03em;
    margin-top: 4em;
}

.articleToc {
    display: none;
    cursor: pointer;
    padding: 3em;
}

.articleToc>summary {
    font-size: 1.08em;
}

.articleToc li,
.blog ol {
    list-style: none;
}

.articleToc li {
    margin-top: 0.6em;
}

.blog a>h1 {
    text-decoration: none;
}

.blog *>a {
    text-decoration: underline;
}

.articleToc a,
.blog a {
    color: rgba(40, 138, 231, 0.926);
    font-weight: 500;
}

.articleToc a:hover,
.articleToc a:active,
.blog a:hover,
.blog a:active {
    color: rgb(26, 94, 156);
}

.articleToc a {
    text-decoration: underline;
}

.blog h1,
.blog h2,
.blog h3 {
    margin-bottom: 0.4em;
    line-height: normal;
    font-weight: 800;
}

.blog h1 {
    display: flex;
    font-size: calc(1.65em + 0.3vw);
    margin-top: 1em;
}

.blog h1:hover:before {
    content: '#';
    font-size: 0.8em;
    margin-top: 6px;
    max-width: 634px;
    margin-left: -20px;
    position: absolute;
    color: var(--line);
}

.blog h2 {
    font-size: calc(1.3em + 0.3vw);
    margin-bottom: 0.6em;

}

.blog h3 {
    font-size: calc(1.1em + 0.2vw);
    line-height: 1.4;
    text-decoration: none;
    padding-bottom: 0;
    padding: 0;
    background-color: transparent;
}

.blog p,
.blog li,
.blog dl,
.blog pre,
.blog table th,
.blog table td {
    line-height: 2;
    padding: 0;
    letter-spacing: 0.03em;
    font-weight: 300;
}

.blog li {
    margin: 0.4em 0;
}

.blog ol {
    counter-reset: number;
}

.blog ol li {
    display: flex;
    counter-increment: number;
    margin-left: 1.4em;
}

.blog ol li:before {
    content: counters(number, ".") ". ";
    font-weight: 600;
    margin-right: 0.7em;
}

.blog ul>li::marker {
    display: block ;
}

.blog ul li {
    margin-left: 2.2em;
    padding-left: 0.3em;
}

.blog em {
    font-style: italic;
}

.blog pre,
.blog *>code,
.blog table tr {
    border: 1px solid var(--line);
}

.blog code>pre {
   width: 100%;
}

.blog pre,
.blog *>code {
    border-radius: 0.5em;
    font-size: calc(0.9em + 0.1vw);
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.blog *>code {
    display: inline-block;
    padding: 0 0.4em;
    margin: 0.4em 0.3em;
    word-break: break-all;
}

.blog pre>code {
    display: block;
    padding: 1em;
    overflow-x: auto;
    border: none;
}

.blog sup::before,
.blog mark {
    border-radius: 1em;
}

.blog sup::before {
    content: '';
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
    margin-right: 0.6em;
    background-color: #E10600;
}

.blog mark {
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-right: 0.4em;
    padding: 0.3em 0.2em;
}

.blog mark {
    background-color: rgba(234, 227, 50, 0.817);
    color: var(--font-color);
}

.blog blockquote,
.blog pre {
    margin: 1em 0;
}

.blog blockquote {
    display: block;
    width: calc(100% - 1.1em);
    letter-spacing: 0.01em;
    font-style: italic;
    border-radius: 1px;
    padding-left: 0.8em;
    border-left: 1px solid var(--line);
    margin: 2em 0;
}

.blog blockquote>p {
    line-height: 1.8;
}

.blog table {
    display: block;
    border-collapse: collapse;
    overflow-y: hidden;
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
    font-size: 0.9em;
    table-layout: fixed;
}

.blog table th,
.blog table td {
    padding: 0.4em 1em;
    text-align: left;
}

.blog table th,
.blog strong {
    font-weight: bold;
}