.blog {
  display: block;
  max-width: 672px;
  margin: 0 auto;
  margin-bottom: 8mm;
}

.blog ol {
  list-style: none;
}

.blog a,
.blog *>a {
  display: inline;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 400;
}

.blog hr {
  border-bottom: 0.2mm solid var(--line);
}

.blog a:hover,
.blog a:active {
  color: rgb(26, 94, 156);
}

.blog h1,
.blog h2,
.blog h3 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

.blog h1 {
  font-size: 22pt;
  margin-top: 2em;
}

.blog h2 {
  font-size: 18pt;
  margin-top: 1.5em;
}

.blog h3 {
  font-size: 14pt;
  margin-top: 0.8em;

}

.blog p,
.blog li,
.blog dl,
.blog pre,
.blog table th,
.blog table td {
  line-height: 1.8;
  padding: 0;
  font-weight: 350;
}

.blog ol {
  counter-reset: number;
}

.blog ol li {
  display: flex;
  counter-increment: number;
  margin-left: 3mm;
}

.blog ol li:before {
  content: counters(number, ".") ". ";
  font-weight: 600;
  margin-right: 3mm;
  font-size: 10pt;
  padding-top: 0.4mm;
  color: var(--wrap-bg);
}

.blog ul,
.blog ol {
  margin: 2mm 0;
}

.blog ul>li::marker {
  display: block;
  color: var(--wrap-bg);
}

.blog ul li {
  margin-left: 8mm;
  padding-left: 1mm;
}

.blog em {
  font-style: italic;
}

.blog pre,
.blog table tr,
.blog code {
  border: 1px solid var(--line);
  background-color: var(--line-bg);
}

.blog pre {
  border-radius: 2mm;
  margin: 1.7em 0 1.7em 0;
}

.blog *>code {
  border: 1px solid var(--line);
  padding: 0 1.6mm;
  border-radius: 1.4mm;
  word-break: break-all;
  display: inline-block;
  font-size: 9.8pt;
}

.blog pre>code {
  display: block;
  word-wrap: normal;
  overflow-x: auto;
  border: none;
  font-size: 9.8pt;
  margin: 3.4mm 1.7mm;
  counter-reset: sh-line-number;
}

.blog pre>code>span::before {
  display: inline-block;
  counter-increment: sh-line-number 1;
  width: 2em;
  content: counter(sh-line-number);
  font-size: 0.75em;
  padding-right: 1em;
  margin-right: 1em;
  text-align: right;
  color: var(--sh-comment);
  justify-content: flex-end;
}

.blog blockquote {
  display: block;
  width: calc(100% - 1.1em);
  letter-spacing: 0.01em;
  border-radius: 1px;
  padding-left: 0.8em;
  border-left: 2mm solid var(--wrap-bg);
  margin: 1em 0;
}

.blog table {
  display: block;
  flex-direction: column;
  border-collapse: collapse;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 100%;
  font-size: 9.8pt;
  margin: 2em 0;
}

.blog table th,
.blog table td {
  padding: 0.4em 1em;
  border-right: 1px solid var(--line);
}

.blog table th:last-child,
.blog table td:last-child {
  border-right: none;
}

.blog table th,
.blog strong {
  font-weight: 600;
}