.main {
    display: block;
    margin: 0 auto;
}

.home {
    display: flex;
    justify-content: space-between;
    /* margin: 1em auto 1.8em auto; */
    letter-spacing: -0.1px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding: 2em 0;
    max-width: 772px;
    margin: auto;
    position: absolute;
    right: 5%;
    left: 5%;
}

#item {
    display: block;
    padding: 0.2em 0.6em;
    margin-top: 0.2em;
    width: fit-content;
    font-size: 1.1em;
}

.input {
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0.4em;
    width: inherit;
    margin-top: 8px;
}

#logo {
    display: block;
    font-size: 1.8em;
    width: fit-content;
    font-weight: 800;
    letter-spacing: 1.6px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
}