.main {
    display: block;
    margin: 0 auto;
}

.home {
    display: flex;
    justify-content: space-between;
    /* margin: 1em auto 1.8em auto; */
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
    max-width: 772px;
    margin: auto;
    position: absolute;
    right: 5%;
    left: 5%;
}

#item {
    display: block;
    padding-left: 0;
    margin-top: 0.4em;
    width: fit-content;
    font-size: calc(0.75em + 0.4vw);
    border-bottom: 1px solid;
}

.input {
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0.4em;
    width: inherit;
    margin-top: 8px;
}