.main {
    display: block;
    max-width: 634px;
    margin: 0 auto;
    min-height: 100vh;
    width: 94%;
    padding-top: 1em;
}

.home {
    display: flex;
    flex-direction: row;
    margin: 0.6em auto 1.8em auto;
    gap: 1em;
    font-weight: 300;
    letter-spacing: -0.4px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
    font-size: calc(1.25em + 0.1vw);
}

.input {
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0.4em;
    width: inherit;
    margin-top: 8px;
}

#logo {
    font-size: 1.8em;
    width: fit-content;
    display: block;
    font-weight: 800;
    letter-spacing: -0.4px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#logo1 {
    font-size: 0.8em;
    width: fit-content;
    display: block;
    font-weight: 500;
    letter-spacing: -0.4px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding-left: 1.65em;
    position: absolute;
}

.item {
    display: block;
}