.linkTree {
    display: flex;
    gap: 2em;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.links {
    display: block;
    border-radius: 0.6em;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 0.02s ease-in-out;
    word-break: break-all;
    font-size: calc(1em + 0.1vw);
    letter-spacing: 0.2px;
    border: 0.5px solid var(--line);
}

.links:hover {
    opacity: 0.8;
}