body {
    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

* {
    letter-spacing: 0.3px;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--text-cyan);
}

::selection {
    background: var(--text-cyan);
}

#common-body {
    display: block;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: all 0.1s linear;
    height: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0 16px 16px;
    background-color: var(--text-magenta);
}

.footer {
    margin-top: 16px;
    background-color: #dedede;
    text-align: center;
    padding: 16px;
    width: calc(100% -24px);
    font-size: 12px;
}

.panel-item {
    padding-right: 16px;
    color: #222;
    letter-spacing: 0.5px;
    font-size: 1em;
    cursor: pointer;
}

.flex {
    display: flex;
    background-color: var(--text-magenta);
}

.flex-item-1 {
    height: 30vh;
    font-size: 2em;
    padding: 24px;
    width: calc(100% - 48px);
    max-width: 900px;
    margin: auto;
    cursor: pointer;
}

.headline {
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 1;
    /* text-transform: uppercase; */
    color: var(--text-yellow);
    margin: 0;
    padding: 0;
    margin-bottom: -1.42em;
    width: 100%;
    border-bottom: 12px solid;
    text-shadow: 6px 6px 0 #444;
}

.headline:hover,
.headline:active {
    background-color: var(--text-cyan);
}

.image {
    display: block;
    width: 12em;
    height: 12em;
    float: right;
    background-color: var(--text-blue);
    box-shadow: 8px 8px 0 var(--bg-shadow);
    transition: all 0.1s linear;
}

.image:hover,
.image:active {
    width: 12.5em;
    height: 12.5em;
}


.content-list-container {
    display: block;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: auto;
    margin-top: 10em;
    height: fit-content;
    overflow: hidden;
    max-width: 900px;
}

.content-list-item {
    display: block;
    padding: 16px;
    border-bottom: 1px solid #85858550;
}