.about {
    display: block;
    font-size: 1.2em;
    justify-content: center;
    flex-direction: column;
    max-width: 634px;
    width: 90%;
    margin: 4em auto
}

.about h1 {
    margin: 2em 0 1em 0;
    font-size: calc(1.9em + 0.4vw);
    line-height: 1.3;
    font-weight: 700
}

.about h2 {
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-size: calc(1.1em + 0.1vw);
    line-height: 1.4;
    font-weight: 600
}

.about p {
    line-height: 1.8;
    margin: 1em 0;
    font-size: calc(0.9em + 0.1vw);
}

.about ul {
    font-size: calc(0.9em + 0.1vw);
    margin-left: 1.2em;
    line-height: 1.6;
}

.about li {
    margin-bottom: 0.6em;
}