.blog,
.articleToc li {
    font-size: calc(0.97em + 0.1vw);
}

.blog,
.articleToc {
    width: 90%;
    max-width: calc(634px + 2em);
    margin: 0 auto;
}

.blog {
    display: block;
    letter-spacing: 0.03em;
}

.articleToc {
    display: none;
    cursor: pointer;
    padding: 3em;
}

.articleToc>summary {
    font-size: 1.08em;
}

.articleToc li,
.blog ol {
    list-style: none;
}

.articleToc li {
    margin-top: 0.6em;
}

.articleToc a,
.blog a {
    color: var(--color-blue);
    font-weight: 500;
}

.articleToc a:hover,
.articleToc a:active,
.blog a:hover,
.blog a:active {
    color: rgb(22, 80, 134);
}

.articleToc a {
    text-decoration: underline;
}

.blog h1,
.blog h2,
.blog h3 {
    margin-bottom: 0.5em;
    line-height: normal;
}

.blog h1 {
    display: flex;
    font-size: calc(1.65em + 0.3vw);
    margin-top: 1em;
}

.blog h1:hover:before {
    content: '#';
    font-size: 0.8em;
    margin-top: 6px;
    max-width: 634px;
    margin-left: -20px;
    position: absolute;
    color: var(--line-color);
}

.blog h2 {
    font-size: calc(1.3em + 0.3vw);
}

.blog h3 {
    font-size: calc(1.1em + 0.2vw);
    line-height: 1.4;
    text-decoration: none;
}

.blog p,
.blog li,
.blog dl,
.blog code>pre,
.blog table th,
.blog table td {
    line-height: 1.9;
    padding: 0;
    letter-spacing: 0.03em;
    font-weight: 400;
}

.blog li,
.blog dd {
    margin: 0.4em 0;
}

.blog dd {
    display: flex;
}

.blog ol {
    counter-reset: number;
}

.blog ol li {
    display: flex;
    counter-increment: number;
}

.blog ol li:before {
    content: counters(number, ".") ". ";
    font-weight: 600;
    margin-right: 0.7em;
}

.blog ul li {
    padding-left: 0.3em;
}

.blog dd {
    margin-left: -8px;
}

.blog em {
    font-style: italic;
}

.blog code>pre,
.blog *>code,
.blog table tr {
    border: 0.07em solid var(--line-color);
}

.blog code>pre,
.blog *>code,
.blog table {
    background-color: var(--color-grey);
}

.blog code>pre,
.blog *>code {
    border-radius: 0.5em;
    font-size: calc(0.87em + 0.1vw);
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.blog code>pre {
    padding: 1em;
    overflow-x: auto;
}

.blog *>code {
    padding: 0.2em 0.4em;
    word-break: break-all;
}

.blog sup::before,
.blog mark {
    border-radius: 1em;
}

.blog sup::before {
    content: '';
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
    margin-right: 0.6em;
    background-color: #E10600;
}

.blog mark {
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-right: 0.4em;
    padding: 0.3em 0.2em;
}

.blog span {
    letter-spacing: 0.03em;
    margin-right: 0.6em;
    font-size: 0.86em;
    font-weight: 400;
    font-style: italic;
}

.blog span:before {
    content: '#';
    padding-right: 1px;
}

.blog mark {
    background-color: var(--color-yellow);
    color: var(--font-color);
}

.blog blockquote,
.blog code>pre {
    margin: 1em 0;
}

.blog blockquote {
    width: calc(100% - 1.1em);
    letter-spacing: 0.01em;
    font-style: italic;
    line-height: 1.5em;
    border-radius: 1px;
    padding-left: 0.8em;
    border-left: 0.3em solid;
}

.blog blockquote:before,
.blog blockquote:after {
    content: '"';
}

.blog blockquote:before {
    padding-right: 0.2em;
}

.blog blockquote:after {
    padding-left: 0.2em;
}

.blog .empty-row {
    height: 0.6em;
    padding: 0;
    background-color: var(--line-color);
    opacity: 0.6;
}

.blog table {
    display: block;
    border-collapse: collapse;
    overflow-y: hidden;
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
    font-size: 0.9em;
    table-layout: fixed;
}

.blog table th,
.blog table td {
    padding: 0.4em 1em;
    text-align: left;
}

.blog table th,
.blog strong {
    font-weight: bold;
}