:root {
    --font-color: #222222;
    --bg-color: #ffffff;
    --line-color: rgba(84, 84, 84, 0.2);
    --line-color-lighter: hsla(0, 0%, 33%, 0.082);
    /* text and background */
    --text-yellow: rgb(238, 255, 110);
    --text-magenta: rgb(229, 147, 235);
    --text-cyan: rgba(101, 219, 213, 0.683);
    --text-cyan-select: rgba(101, 219, 213, 0.498);
    --text-blue: #53ccf8;
    --bg-shadow: #555;
}

[data-theme="dark"] {
    --font-color: #f5f5f7;
    --bg-color: #000;
    --line-color: rgba(145, 145, 145, 0.215);
    --line-color-lighter: #555;

    /* text and background */
    --text-yellow: rgb(238, 255, 110);
    --text-magenta: rgb(229, 147, 235);
    --text-cyan: rgba(101, 219, 213, 0.683);
    --text-cyan-select: rgba(101, 219, 213, 0.498);
    --text-blue: #53ccf8;
    --bg-shadow: #dedede50;
}

.blog {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 1em;
}

.blog time {
    font-size: 14px;
    vertical-align: middle;
    margin-top: 1.8px;
}

/* .blog img {
    max-width: 900px;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.blog h1 {
    font-size: 1.8em;
    padding-bottom: 8px;
}








/* blog post css */

#post-html {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.blog hr {
    display: block;
    border: 0;
    border-top: 1px solid var(--line-color);
    padding: 0;
    margin: 16px 0;
}

.blog p {
    padding: 0;
    margin: 0;
    font-size: calc(0.9em + 0.1vw);
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: normal;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.01em;
    font-weight: 720;
    margin-bottom: 8px;
    margin-top: 16px;
}

.blog h1 {
    width: fit-content;
    letter-spacing: 0.01em;
    font-size: calc(2.4em + 0.2vw);
    /* color: var(--block-highlight-text-color); */
    line-height: 44px;
}

.blog h2 {
    font-size: calc(1.9em + 0.2vw);
    line-height: 40px;
}

.blog h3 {
    font-size: calc(1.7em + 0.2vw);
    line-height: 36px;
}

.blog h4 {
    line-height: 32px;
    font-size: calc(1.4em + 0.2vw);
}

.blog h5 {
    font-size: calc(1.2em + 0.2vw);
    line-height: 24px;
}

.blog h6 {
    font-size: calc(1.1em + 0.1vw);
    line-height: 22px;
}

em {
    letter-spacing: 0.5px;
    font-size: 14px;
}

.blog strong {
    font-weight: 700;
}

.blog a {
    color: rgb(41, 151, 255);
    font-weight: 500;
    padding-bottom: 1px;
    border-bottom: 1.8px solid;
    text-decoration: none;
}

.blog-container .blog a:hover,
a:active {
    padding-bottom: 1px;
    border-bottom: 3.4px solid rgb(22, 80, 134);
    color: rgb(22, 80, 134);
}

.blog ol {
    list-style: none;
    font-size: 14px;
    counter-reset: num;
    padding: 0;
    margin: 0;
}

.blog ul {
    font-size: 14px;
    padding: 0;
    list-style: none;
    margin: 0;
}

.blog ol>li,
ul>li {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
}

.blog .o-list {
    font-size: 14px;
    counter-increment: num;
}

.blog .u-list {
    font-size: 14px;

}

.blog .o-list::before {
    font-size: calc(0.85em + 0.1vw);
    content: counter(num)".";
    font-weight: 700;
    height: 6px;
    width: 6px;
    max-width: 6px;
    min-width: 8px;
    margin-right: 14px;
    margin-left: 4px;
    margin-top: 10px;
    border-radius: 50%;
    align-self: flex-start;
}

.blog .u-list::before {
    content: '';
    background-color: var(--font-color);
    height: 6px;
    width: 6px;
    min-width: 6px;
    margin-right: 16px;
    margin-left: 8px;
    margin-top: 10px;
    border-radius: 50%;
    align-self: flex-start;
}

.blog .checkbox-list {
    margin: 0;
    padding: 0;
}

.blog .checkbox {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

}

.blog .checked::after {
    content: '';
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 4px;
    margin-left: 3px;
    height: 8px;
    width: 4px;
    border-bottom: 3px solid var(--color-green);
    border-right: 3px solid var(--color-green);
    transform: rotate(45deg);
}

.blog .unchecked::before {
    content: '';
    width: 12px;
    height: 12px;
    margin-top: 3px;
    border: 1.5px solid var(--line-color);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.blog label {
    font-size: 14px;
}


.time {
    display: block;
    font-size: 12px;
    position: relative;
    font-family: monospace;
    color: #555555;
    margin: 12px 0;
    font-weight: 500;
}

.clock {
    display: block;
    font-family: monospace;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid var(--line-color);
    padding: 12px;
    border-radius: 4px;
    width: fit-content;
    font-size: calc(1.7em + 0.2vw);
    margin: 12px 0;
}

.seperate-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--line-color);
    margin: 0;
    padding: 0;
    height: fit-content;
}

.seperate-tab-heading-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    background-color: var(--line-color-lighter);
    scroll-margin: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.seperate-tab-heading-container::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

.seperate-tab-heading-container::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

.seperate-tab-heading {
    white-space: nowrap;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding: 8px 16px 8px 16px;
}

.seperate-tab-heading:hover,
.seperate-tab-heading:active {
    border-bottom: 1px solid var(--font-color);
    cursor: pointer;
}

.seperate-tab-container {
    display: flex;
}

.seperate-tab {
    display: none;
    height: fit-content;
    /* padding: 8px 12px 8px 12px;
    line-height: 22px; */
}

.clock-time {

    width: fit-content;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.blog .line-code {
    display: block;
    white-space: pre;
    font-family: monospace;
    letter-spacing: .5px;
}

.blog .multi-line-code {
    display: block;
    white-space: pre;
    padding: 16px;
    background-color: var(--line-color-lighter);
    color: var(--block-code-color);
    border-radius: 4px;
    line-height: 22px;
    overflow-x: auto;
    margin: 8px 0;
}

.blog .green {
    font-family: monospace;
    font-size: 13px;
    color: var(--color-green);
    text-transform: none;
    letter-spacing: .4px;
    border-radius: 4px;
    font-weight: 600;
    /* margin: 0 6px; */
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    line-height: 22px;
}

.blog .red {
    font-weight: 600;
    font-family: monospace;
    font-size: 13px;
    border-radius: 4px;
    letter-spacing: .4px;
    text-transform: none;
    /* margin: 0 6px; */
    color: var(--color-red);
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    line-height: 22px;
}

.blog .amber {
    letter-spacing: .4px;
    font-weight: 600;
    font-family: monospace;
    font-size: 13px;
    text-transform: none;
    /* margin: 0 6px; */
    border-radius: 4px;
    color: var(--color-amber);
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    line-height: 22px;
}

.blog .multi-line {
    display: block;
    font-family: monospace;
    font-size: 13px;
    color: rgba(58, 140, 22, 0.918);
}

.blog .image {
    padding: 0;
    display: block;
    width: 100%;
    object-fit: contain;
    margin: 1em auto;
    margin-bottom: 0;
}

.blog .profile-image {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
}

.blog .cover-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 16em;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.image-desc {
    font-size: 12px;
    position: relative;
    font-family: monospace;
    color: #555555;
}

.blog .gallery-image {

    justify-self: center;
    max-width: 260px;
    object-fit: cover;
}

.gallery {
    display: flex;
    row-gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-self: center;
    justify-content: space-evenly;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.info-block {
    width: fit-content;
    background-color: rgba(28, 120, 219, 0.233);
    color: rgb(15, 106, 203);
    margin: 0;
    border-radius: 4px;
    padding: 12px 16px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.info {
    width: 26px;
    height: 26px;
    display: block;
    height: inherit;
    text-decoration: none;
    border: none;
}

.warn-block {
    width: fit-content;
    background-color: rgba(236, 197, 56, 0.229);
    color: rgba(202, 161, 14, 0.914);
    margin: 0;
    margin: 12px 0;
    border-radius: 4px;
    padding: 12px 16px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.warn {
    display: block;
    width: 28px;
    height: 28px;

    height: inherit;
    text-decoration: none;
    border: none;
}

.block {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    display: block;
    color: var(--block-highlight-text-color);
    background-color: rgba(255, 60, 0, 0.103);
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    text-decoration: underline;

    margin: 12px 0;
    text-underline-offset: 4px;
    /* border-radius: 4px;
    padding-left: 8px; */
}

.block::before {
    content: '';
    display: block;
    background-color: var(--block-highlight-text-color);
    width: 20%;
    border-radius: 0.5px;
    height: 14px;
    font-family: monospace;
    font-weight: 500;
    margin-bottom: 4px;
}

.tag {
    display: inline;
    border-radius: 2px;
    line-height: 22px;
    color: rgb(137, 73, 249);
    background-color: rgba(129, 75, 222, 0.246);
    font-weight: 600;
    padding: 2px 4px;
    letter-spacing: .4px;
}

.tag-colors {
    padding: 1px 8px 3px 8px;
    border-radius: 12px;
    line-height: 26px;
}

.tag-hash {
    display: inline-block;
    border-radius: 4px;
    color: var(--block-highlight-text-color);
    font-weight: 600;
    font-family: monospace;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 13px;
}

.tag-hash::before {
    content: '# ';
    font-family: monospace;
    display: inline-block;
    border-radius: 4px;
    color: var(--block-highlight-text-color);
    letter-spacing: 1.2px;
    padding-right: 2px;
}

.tag-notify {
    display: inline-block;
    border-radius: 4px;
}

.tag-notify::before {
    content: '';
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: var(--block-highlight-text-color);
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.blog th,
.blog td,
.blog tr,
.blog table,
.blog tbody {
    margin: 0;
    padding: 0;
}

.blog table {
    display: flex;
    margin-bottom: 1px;
    width: fit-content;
    /* box-shadow: var(--line-color) 0px 0px 0px 0.5px; */
    /* border: 1px solid var(--line-color); */
    border-radius: 4px;
    overflow-y: hidden;
    border-collapse: collapse;
    border: 1px solid var(--line-color);
    max-width: calc(100%);
    width: fit-content;
    overflow-x: auto;
}

.blog table::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

.blog table::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

.blog tbody {
    display: table-row-group;
}

.blog td,
.blog th {
    padding: 8px;
}

.blog tr {
    border-bottom: 0.6px solid var(--line-color);
}

.blog tr:last-child {
    border: none;
}

.blog th {
    padding: 8px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--line-color-lighter);
}

.blog th:first-child {
    border-top-left-radius: 4px;
}

.blog th:last-child {
    border-top-right-radius: 4px;
}

.blog td {
    font-size: 13px;
    font-weight: 400;
}

.blog .empty-row {
    height: 6px;
    padding: 0;
    margin: 0;
    background-color: var(--line-color-lighter);
}

.blog audio {
    width: 100%;
    background-color: transparent;
}

.blog .tabs-2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    gap: 2vw;
    height: fit-content;
    width: 100%;
}

.blog .tabs-3 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    gap: 2vw;
    height: fit-content;
    width: 100%;
}

.blog .tabs-2-item {
    width: fit-content;
    flex: 1;
}

.blog .tabs-3-item {
    width: fit-content;
    flex: 1;
}

.blog .tabs-3-item:last-child {
    border: none;
}

.blog .progress-bar {
    display: block;

    padding: 0;
    background-color: var(--line-color-lighter);
    border-radius: 2px;
}

.blog .progress-bar>span[class^="bar-"] {
    display: flex;
    margin: 0;
    height: 6px;
    background-color: var(--inline-hightlight-color);
    border-radius: 2px;
    animation: progressBar 0.9s ease-in-out;
    animation-fill-mode: both;
}

.blog .bar-chart {
    display: flex;
    height: 320px;

    border: 1px solid var(--line-color);
    border-radius: 4px;
    padding: 16px;
    max-width: calc(100% - 32px);
    width: fit-content;
    overflow-x: auto;

    background-image: radial-gradient(var(--font-color) .5px, transparent .5px), radial-gradient(var(--font-color) .5px, transparent .5px);
    background-position: 0 0, 48px 32px;
    background-size: 32px 32px;
}

.bar-chart::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

.bar-chart::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

.blog .bar-chart>span[class^="chart-bar-"] {
    display: block;
    align-self: flex-end;
    margin: 0 16px 0 0;
    width: 32px;
    min-width: 32px;
    background-color: var(--inline-hightlight-color);
    accent-color: var(--inline-hightlight-color);
    /* background-color: var(--block-highlight-text-color); */
    border-radius: 1px;
    animation: chartBar 0.9s ease-in-out;
    animation-fill-mode: both;
}

@keyframes chartBar {
    0% {
        height: 0;
    }
}


@keyframes progressBar {
    0% {
        width: 0;
    }
}

.blog .card {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--line-color);
    background-color: var(--line-color-lighter);
    font-size: 14px;
    line-height: 22px;
    margin: 12px 0;
}

.blog .ken-accordion {
    height: fit-content;
    transition: height 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    padding: 0;
    margin: -16px 0 0 0;
}

.blog .accordion-expand::before {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--inline-hightlight-color);
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
    height: fit-content;
    transition: opacity 0.15s ease-in-out;
    transition: height 0.15s ease-in-out;
    cursor: pointer;
}

.blog .accordion-expand {
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.blog .accordion-close::before {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--inline-hightlight-color);
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
    height: fit-content;
    transform: rotate(-90deg);
    transition: height 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
}

.blog .accordion-close {
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.ken-accordion-item {
    padding: 0;
    opacity: 0;
    display: block;
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: height 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

@media screen and (min-width: 101px) and (max-width: 400px) {
    .blog .gallery-image {
        justify-self: center;
        width: calc(50% - 24px);
        object-fit: cover;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {

    .blog td {
        font-size: 13px;
        font-weight: 400;
    }

    .blog .gallery-image {
        justify-self: center;
        width: calc(50% - 24px);
        object-fit: cover;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .blog .gallery-image {
        justify-self: center;
        width: calc(50% - 24px);
        object-fit: cover;
    }
}

@media screen and (min-width: 901px) {
    .blog .gallery-image {
        justify-self: center;
        width: calc(50% - 24px);
        object-fit: cover;
    }
}










.audioPlayer {
    display: flex;
    flex-direction: column;
    display: flex;
    border-radius: 4px;
    background-color: var(--bg-color);
    max-width: 900px;
    margin: auto;

}

.audioHead {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.audioDesc {
    padding: 0;
    margin: 0;
    margin-top: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
}

.audioControls-1 {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    padding: 16px 8px;
    border: 1px solid var(--line-color);
    border-radius: 4px;
}

#bottom-player {
    display: none;
}

.audioControls-2 {
    display: block;
    padding: 8px 24px;
    width: calc(100vw - 48px);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: fit-content;
    border-top: 1px solid var(--line-color);
    background-color: var(--side-panel-color);
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.2s linear;
}

.audioButton-flex {
    display: flex;
}

.audioButton-flex-2 {
    display: flex;
    width: 100%;
}

.forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 14px;
    cursor: pointer;
}

.forwardBackward:hover {
    color: var(--primary);
}

.ken-audio-playPause {
    background: var(--primary);
    color: rgba(30, 125, 227, 0.903);
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.ken-audio-playPause-controls {
    background: var(--primary);
    color: rgba(30, 125, 227, 0.903);
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.play {
    position: relative;
    left: 5px;
}

.currentTime,
.duration {
    font-family: monospace;
    font-size: 12px;
    margin: 0 16px;
    height: fit-content;
}

.progressBar {
    --knobby: rgb(233, 91, 48);
    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 4px;
    outline: none;
    margin-top: 4px;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 4px;
    outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 4px;
    outline: none;
}

.progressBar::-moz-focus-outer {
    border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
    content: '';
    height: 4px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 4px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -3px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}