.blog {
    padding: 0;
    margin: 1em auto;
    font-size: calc(0.92em + 0.15vw);
    letter-spacing: 0.03em;
    max-width: 634px;
    line-height: 1.4;
    width: 90%;
}

.blog > nav {
    width: calc(100% - 4em);
    background-color: var(--line-color);
    padding: 2em;
    padding-top: 1em;
    width: calc(100% - 4em);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 1em;
}

.container h1 {
    width: 90%;
    font-size: calc(2.2em + 1.8vw);
    margin: 0 auto;
    max-width: 900px;
    font-weight: 800;
}

.author {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 0.6em;
    font-weight: 600;
    font-size: calc(0.9em + 0.2vw);
    max-width: 900px;
    letter-spacing: 0.04em;
}

.blog hr {
    border-top: 0.5px solid var(--font-color);
    margin: 2em 0;
}

.blog h1,
.blog h2,
.blog h3 {
    margin: 0;
    margin-bottom: 0.8em;
}

.blog h1 {
    font-size: calc(1.65em + 0.3vw);
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-top: 1em;
}

.blog h2 {
    font-size: calc(1.25em + 0.3vw);
    font-weight: 700;
    line-height: 1.4;
}

.blog h3 {
    font-size: calc(1em + 0.3vw);
    font-weight: 700;
    line-height: 1.4;
}

.blog p,
.blog li,
.blog dl {
    line-height: 1.8;
    margin: 0.4em 0;
    margin-top: 0;
    letter-spacing: 0.03em;
    font-weight: 350;
}

.blog p {
    margin: 0;
}

.blog ol {
    list-style: none;
    counter-reset: number;
}

.blog ol li {
    display: flex;
    margin-bottom: 0;
    counter-increment: number;
}

.blog ol li:before {
    content: counters(number, ".") ". ";
    font-weight: 700;
    margin-right: 0.7em;
    margin-left: -0.2em;
}

.blog ul li {
    margin-left: 1.2em;
    padding-left: 0.3em;
}

.blog dd {
    display: flex;
    gap: 1em;
    flex-direction: row;
    margin: 0.4em 0;
}

.blog em {
    font-style: italic;
    font-weight: 300;
}

.blog strong {
    font-weight: 800;
}

.blog a {
    color: var(--color-blue);
    font-weight: 500;
    padding-bottom: 0.01em;
    border-bottom: 0.15em solid;
}

.blog a:hover,
.blog a:active {
    border-bottom: 0.25em solid rgb(22, 80, 134);
    color: rgb(22, 80, 134);
}

.blog *>code {
    display: inline-block;
    font-family: monospace;
    text-transform: none;
    font-weight: 600;
    font-size: 0.95em;
    padding: 0 0.4em;
    margin: 0.4em 0;
    width: fit-content;
    background-color: var(--line-color);
    border: 1px solid #55555560;
    word-break: break-all;
    border-radius: 4px;
}

.blog sup {
    display: inline-block;
    border-radius: 4px;
}

.blog sup::after {
    content: '';
    border-radius: 50%;
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    margin-left: 0.4em;
    background-color: #E10600;
}

.blog span {
    font-weight: 500;
    font-style: oblique;
    border-bottom: 0.14em solid;
    letter-spacing: 0.04em;
}

.blog mark {
    padding: 0.2em 0.2em;
    padding-bottom: 0.24em;
    background-color: rgba(255, 229, 100, 0.657);
    font-weight: 500;
    border-radius: 4px;
}

.blog blockquote {
    display: block;
    width: calc(100% - 1.6em - 13px);
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin: 0;
    font-weight: 500;
    padding: 0.4em 0.8em;
    background-color: rgba(95, 199, 255, 0.274);
    border: 1px solid rgba(49, 116, 150, 0.772);
    margin: 1em 0;
    border-radius: 4px;
}

.blog code>pre {
    white-space: pre;
    letter-spacing: 0.04em;
    padding: 0.5em 1em;
    line-height: 1.8;
    overflow-x: auto;
    margin: 1em 0;
    font-family: monospace;
    font-size: 0.9em;
    background-color: var(--line-color);
    border: 1px solid #55555560;
    border-radius: 4px;
}

.line {
    display: block;
    white-space: pre;
    font-family: monospace;
}

.blog table {
    display: flex;
    width: fit-content;
    border-radius: 4px;
    overflow-y: hidden;
    border-collapse: collapse;
    border: 0.5px solid #55555570;
    width: fit-content;
    overflow-x: auto;
    max-width: 100%;
    white-space: pre;
}

.blog tbody {
    display: table-row-group;
}

.blog td,
.blog th {
    vertical-align: middle;
    padding: 1em;
}

.blog tr {
    border-bottom: 0.5px solid #55555550;
}

.blog tr:last-child {
    border: none;
}

.blog th {
    font-size: 0.9em;
    text-align: left;
    font-weight: 700;
    background-color: var(--line-color);
}

.blog th:first-child {
    border-top-left-radius: 4px;
}

.blog th:last-child {
    border-top-right-radius: 4px;
}

.blog td {
    font-size: 0.9em;
}

.empty-row {
    height: 0.6em;
    padding: 0;
    background-color: var(--line-color);
    opacity: 0.6;
}

.accordion {
    height: fit-content;
    width: calc(100% - 2em);
    transition: height 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    border-radius: 4px;
    border: 0.08em solid var(--line-color);
    padding: 0.6em 1.4em;
    padding-left: 0.6em;
}

.accordionExpand::before,
.accordionClose::before {
    display: inline-block;
    content: '';
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.6em solid var(--color-blue);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 0.4em;
    height: fit-content;
    transition: opacity 0.15s ease-in-out;
    transition: height 0.15s ease-in-out;
    cursor: pointer;
}

.accordionExpand,
.accordionClose {
    display: block;
    cursor: pointer;
    margin: 0;
}

.accordionClose::before {
    transform: rotate(-90deg);
}

.accordionItem {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}