.content {
  display: block;
  width: 90%;
  margin: 4em auto;
  max-width: 900px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0 auto;
  height: inherit;
  max-height: 800px;
  max-width: 900px;
  cursor: pointer;
}

.title {
  display: block;
  width: calc(100% - 0.8em - 1em);
  font-size: calc(2.3em + 0.6vw);
  line-height: 1.3em;
  letter-spacing: 0.3px;
  cursor: pointer;
  padding: 0.4em;
  margin: 0 auto;
  font-weight: 600;
  font-family: Poly Sans, Helvetica, Arial, sans-serif;
}

.title:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.date {
  display: inline-block;
  margin: 0.4em 0;
  margin-left: 0;
  font-size: calc(0.4em + 0.2vw);
  font-weight: 400;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.date::after {
  content: '•';
  margin: 0 0.5em;
}

.date:last-child::after {
  content: '';
}