.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    font-size: calc(0.6em + 0.1vw);
    padding: 2em 0;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.footer>a {
    cursor: pointer;
    opacity: 0.9;
}

.footer>a:hover {
    text-decoration: underline;
    opacity: 1;
}