body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    border: none;
    outline: 0;
    color: transparent;
}

a:active,
a:link,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}

body::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--text-cyan-select);
}

::selection {
    background: var(--text-cyan-select);
}

.headline {
    display: block;
    font-size: calc(0.9em + 0.8vw);
    width: 100%;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

#face {
    display: flex;
    margin: 0.5em 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    background-color: var(--bg-color);

}

#theme {
    display: block;
    margin: auto;
    padding: 0.5em;
    background-color: var(--font-color);
}

#ken {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: calc(1.2em + 0.8vw);
    width: fit-content;
    padding: 0;
    line-height: 32px;
    padding: 0 4px;
    border-radius: 1px;
    margin: 0;
    color: var(--font-color);

    width: calc(0.5em + 0.1vw);
    height: calc(01em + 0.1vw);
    border-radius: 50%;
    background-color: var(--font-color);
}

#common-body {
    display: block;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: all 0.05s linear;
    height: 100%;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.footer {
    margin-top: 16px;
    text-align: center;
    padding: 16px;
    width: calc(100% - 24px);
    font-size: 12px;
}

.flex {
    display: block;
}

.flex-item-1 {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    justify-content: space-between;
}

.panel-item {
    display: inline;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    border-radius: 1px;
    margin: 0;
    padding: 0;
}

.panel-item:active {
    border: none;
    outline: none;
    text-decoration: none;
}

.author-flex-container {
    color: var(--font-color);
    display: flex;
    justify-content: flex-start;
    gap: 0.4em;
    margin: 1em 0 0 0;
}

.author-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.author-item {
    padding: 3px 8px;
    align-self: flex-start;
}

.content-list-container {
    display: block;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: auto;
    height: fit-content;
    max-width: 900px;
}

.content-list-item {
    display: block;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    margin-bottom: 1.6em;
}

.view-count {
    display: inline;
    padding-right: 16px;
    margin: 0;
}

.post {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .4px;
    line-height: 28px;
    font-size: calc(1.2em + 0.6vw);
}

.head-content {
    display: block;
    width: calc(90% - 14px);
    height: fit-content;
    padding-right: 14px;
    margin: 1em auto;
    max-width: 1200px;
}

.head-content-container {
    display: grid;
    flex-direction: row-reverse;
    gap: 0;
    padding: 0;
    margin: 0 auto;
    height: inherit;
    max-height: 800px;
}

.head-content h1 {
    display: block;
    width: calc(100% - 2em);
    font-size: calc(1.4em + 0.6vw);
    line-height: 1.2em;
    letter-spacing: 0.3px;
    cursor: pointer;
    font-weight: 800;
    padding: 1em;
    margin: 0 auto;
}

.head-content .image {
    display: block;
    padding: 0;
    object-fit: cover;
    border: none;
    transition: all 0.1s ease-in-out;
    width: 100%;
    max-height: inherit;
}

.post-image {
    display: block;
    padding: 0;
    border-radius: 2px;
    object-fit: cover;
    border: 1px solid;
    width: calc(100% - 14px);
    margin: 2em 0;
    box-shadow: 14px 14px 0 #77777760;
    transition: all 0.1s ease-in-out;
}

.search-container {
    display: block;
    padding: 0;
    margin: 0 auto;
    padding: 1.4em 0 1em 0;
}

.search-container>input {
    display: block;
    outline: none;
    border: none;
    width: calc(90% - 24px);
    margin: auto;
    background-color: inherit;
    color: var(--font-color);
    box-shadow: none;
    padding: 8px 12px 9px 12px;
    border: 1px solid var(--line-color);
    max-width: 876px;
    font-size: 1.3em;
    letter-spacing: 0.3px;
    border-radius: 1px;
}

@media screen and (min-width: 101px) and (max-width: 700px) {
    .head-content-container {
        flex-direction: column;
    }

    .list-container {
        width: 90%;
    }
}

@media screen and (min-width:701px) {

    .list-container {
        width: 80%;
    }

}

.footer {
    display: block;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 16px 0;
}

.tip-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    letter-spacing: 0.2px;
    font-size: calc(0.85em + 0.3vw);
    line-height: calc(1.4em + 0.3vw);
    margin: 0 auto;
    max-width: 880px;
}

.tip-not {
    display: inline-block;
    padding: 0;
    padding: 0 0.6em 0.6em 0.6em;
    margin: 0;
    font-size: calc(1em + 0.3vw);
    font-weight: 600;
}

.tip-not::before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 3px 3px 0 rgb(156, 154, 45);
    border: 1px solid;
    margin: 0;
    margin-right: 1em;
    margin-bottom: 3px;
    background-color: yellow;
    vertical-align: middle;
}

.tip-title {
    margin-left: 2.7em;
    font-size: calc(1em + 0.3vw);
    line-height: calc(1.5em + 0.3vw);
}

.list-container {
    max-width: 900px;
    height: fit-content;
    margin: auto;
    margin: 0em auto;
    padding: 2em 0.6em;
    /* border-radius: 0.4em; */
    letter-spacing: 0.6px;
}

.list-head {
    width: 30%;
    font-size: calc(1.5em + 0.6vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.4em 0;
    font-weight: 700;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

.post-title {
    margin: 0.2em 0;
    padding: 0.8em;
    font-size: calc(1.1em + 0.3vw);
    color: var(--font-color);
    display: flex;
    line-height: 24px;
    margin-left: 12px;
    transition: all 0.1s ease-in-out;
}

.post-title:hover,
.post-title:active {
    color: #000;
    padding: 0.8em 1em;
}


.session {
    border-left: 2px solid #505054;
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 24px;
}

.post-container:last-child {
    border: 0px;
    padding-bottom: 0;
}

.post-container:before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid #525252;
    box-shadow: 3px 3px 0 #515151c3;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -12px;
    margin-top: 1em;
}

.time {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}