:root {
    --font-color: #222222;
    --bg-color: #ffffff;
    --line-color: #d9d6d668;
    --line-color-lighter: #55555580;
    /* text and background */
    --text-yellow: rgb(238, 255, 110);
    --text-magenta: rgb(229, 147, 235);
    --text-cyan: rgba(101, 219, 213, 0.683);
    --text-cyan-select: rgba(101, 219, 213, 0.498);
    --text-blue: #53ccf8;
    --bg-shadow: #555;

    --news: #C3F0C8;
    --anime: #FFC864;
    --movies: rgb(255, 112, 112);

    --color-red: #fd5d51;
    --color-green: rgb(42, 150, 18);
    --color-amber: rgb(240, 145, 3);
    --color-blue: rgb(41, 151, 255);
}

[data-theme="dark"] {
    --font-color: #f5f5f7;
    --bg-color: #000;
    --line-color: #7878782e;
    --line-color-lighter: #55555580;

    /* text and background */
    --text-yellow: rgb(238, 255, 110);
    --text-magenta: rgb(229, 147, 235);
    --text-cyan: rgba(101, 219, 213, 0.683);
    --text-cyan-select: rgba(101, 219, 213, 0.498);
    --text-blue: #53ccf8;
    --bg-shadow: #dedede50;

    --news: #C3F0C8;
    --anime: #FFC864;
    --movies: rgb(255, 112, 112);

    --color-red: rgb(230, 84, 73);
    --color-green: rgb(110, 202, 118);
    --color-amber: rgba(222, 148, 37, 0.947);
    --color-blue: rgb(41, 151, 255);

}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

*::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}


body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    border: none;
    outline: 0;
    color: transparent;
}

a:active,
a:link,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}

body::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

::-moz-selection {
    background: var(--text-cyan-select);
}

::selection {
    background: var(--text-cyan-select);
}

.footer {
    display: block;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 16px 0;
}

.search-container {
    display: block;
    padding: 0;
    margin: 0 auto;
    padding: 1.4em 0 1em 0;
}

.search-container>input {
    display: block;
    outline: none;
    border: none;
    width: calc(90% - 24px);
    margin: auto;
    background-color: inherit;
    color: var(--font-color);
    box-shadow: none;
    padding: 8px 12px 9px 12px;
    border: 1px solid var(--line-color);
    max-width: 876px;
    font-size: 1.3em;
    letter-spacing: 0.3px;
    border-radius: 1px;
}

.barcode {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 2em;
    margin: 0 auto;
}

.barcode>div {
    z-index: 0;
}

.barcode .b1 {
    align-self: flex-end;
    height: 4.5em;
    width: 5em;
    margin-right: 1em;
}

.barcode .b2 {
    align-self: flex-start;
    height: 4em;
    width: 2em;
    margin-right: 1em;
}

.barcode .b3 {
    align-self: flex-start;
    height: 4em;
    width: 3em;
}

.barcode .b4 {
    align-self: flex-start;
    height: 2.5em;
    width: 3em;
    margin-right: 2em;
}

.barcode .b5 {
    align-self: flex-start;
    height: 1em;
    width: 3em;
    margin-right: 2em;
}

.barcode .b6 {
    align-self: flex-end;
    height: 1.5em;
    width: 8.5em;
}

.barcode .b7 {
    align-self: flex-start;
    height: 1em;
    width: 4em;
    margin-right: 2em;
}

.barcode .b8 {
    align-self: flex-start;
    height: 1em;
    width: 3em;
    margin-right: 1em;
}

.barcode .b9 {
    align-self: flex-start;
    height: 3em;
    width: 5em;
    margin-right: 1em;
}

.barcode .b10 {
    align-self: flex-start;
    height: 4em;
    width: 1em;
}

.barcode .b11 {
    align-self: flex-start;
    height: 1em;
    width: 2em;
}

.barcode .b12 {
    align-self: flex-start;
    height: 2.5em;
    width: 1em;
}

.barcode .b13 {
    align-self: flex-end;
    height: 2em;
    width: 2em;
    margin-right: 1em;
}

.barcode .b14 {
    align-self: flex-end;
    height: 2em;
    width: 5em;
}

.barcode .b15 {
    align-self: flex-end;
    height: 2em;
    width: 4em;
    margin-right: 1em;
}

.barcode .b16 {
    align-self: flex-end;
    height: 5em;
    width: 5em;
    margin-right: 0.4em;
}

.barcode .b17 {
    align-self: flex-start;
    height: 2.5em;
    width: 3.5em;
}