:root {
    --font-color: rgb(33, 37, 41);
    --bg-color: #ffffff;
    --line-color: #78787857;
    --color-grey: #f4f4f4;
    /* text and background */
    --text-cyan: rgba(101, 219, 213, 0.683);
    --text-cyan-select: rgba(101, 219, 213, 0.498);
    --text-blue: #53ccf8;

    --color-red: #fd5d51;
    --color-yellow: rgba(234, 223, 6, 0.387);
    --color-green: rgb(43, 176, 13);
    --color-amber: rgb(240, 145, 3);
    --color-blue: rgb(41, 151, 255);
}

[data-theme="dark"] {
    --font-color: rgb(225, 225, 225);
    --bg-color: #050607;
    --line-color: #78787857;
    --color-grey: rgb(26, 26, 27);

    /* text and background */
    --text-cyan: rgba(101, 219, 213, 0.683);
    --text-cyan-select: rgba(101, 219, 213, 0.498);
    --text-blue: #53ccf8;

    --color-red: rgb(230, 84, 73);
    --color-yellow: rgba(143, 143, 15, 0.855);
    --color-green: rgb(110, 202, 118);
    --color-amber: rgba(222, 148, 37, 0.947);
    --color-blue: rgb(41, 151, 255);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

*::-webkit-scrollbar {
    display: none;
    width: 6px;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
    background: #c6c6c650;
    display: none;
    width: 6px;
    border-radius: 12px;
}

::-moz-selection {
    background: var(--text-cyan-select);
}

::selection {
    background: var(--text-cyan-select);
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    line-height: 1.9;
    font-size: calc(1em + 0.1vw);
    font-weight: 300;
    padding: 0.6em 0;
}

h1,
h2,
h3,
blockquote {
    display: block;
    width: 100%;
    line-height: 1.2;
    font-weight: 500;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
}

h1:hover,
h2:hover {
    text-decoration: underline;
}

h1,
blockquote {
    font-size: calc(1.8em + 0.5vw);
}

h2 {
    font-size: calc(1.2em + 0.5vw);
}

h3 {
    font-size: calc(1.15em + 0.2vw);
    margin: 0 auto;
    margin-bottom: 0.3em;
    text-transform: capitalize;
    padding: 0.1em 0;
    letter-spacing: 0.03em;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

date {
    display: inline-block;
    font-size: calc(0.8em + 0.1vw);
    font-weight: 300;
    width: fit-content;
    margin: 0.7em 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

date>span::after {
    content: '•';
    margin: 0 0.8em;
}

date>span:last-child::after {
    content: '';
}

.container,
.sub-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-width: 900px;
    width: 90%;
}

.container {
    margin: 2em auto;
    margin-bottom: 0;
}

.sub-container {
    padding: 0.5em 0;
    margin: 0;
}