#ken {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: -0.4px;
  font-family: Poly Sans, Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.header {
  display: flex;
  padding: 1em 0.5em;
  width: 90%;
  gap: 1em;
  max-width: 900px;
}

.input {
  display: inline-block;
  outline: none;
  border: none;
  background-color: var(--bg-color);
  color: inherit;
  box-shadow: none;
  padding: 0 1em;
  border-radius: 1em;
  width: 30%;
  border: 0.07em solid var(--line-color);
}