#ken {
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: -2px;
  font-family: Poly Sans, Helvetica, Arial, sans-serif;
  color: #222;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

.input {
  display: block;
  outline: none;
  border: none;
  background-color: var(--bg-color);
  color: var(--font-color);
  box-shadow: none;
  padding: 0.2em 1em;
  font-size: 1em;
  letter-spacing: 0.3px;
  border-radius: 1em;
  width: 20%;
  border: 0.07em solid var(--line-color);
  margin-top: 1px;
}