.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 100vh;
    min-height: 95vh;
    max-width: 634px;
    margin: 0 auto;
    padding-bottom: 1em;
}

.home {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    font-size: 1.2em;
    padding: 1em 0;
    font-weight: bold;
}

.input {
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0.4em;
    width: inherit;
}

#ken {
    display: block;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: -0.4px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-top: 6px;
}

.header {
    display: flex;
    padding-top: 2em;
    width: 100%;
    gap: 1em;
    max-width: 634px;
    margin: 0 auto;
}

#logo {
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
    width: fit-content;
    border-radius: 1em;
}