.main {
    display: block;
    max-width: 634px;
    margin: 0 auto;
    min-height: 100vh;
}

.home {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    padding: 1em 0;
}

.input {
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0.4em;
    width: inherit;
    margin-top: 8px;
}

#ken {
    display: block;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: -0.4px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-top: 12px;
}

#logo {
    font-size: 1.8em;
    width: fit-content;
    display: block;
    font-weight: 800;
    letter-spacing: -0.4px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#logo1 {
    font-size: 1em;
    width: fit-content;
    display: block;
    font-weight: 500;
    letter-spacing: -0.4px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding-left: 1.3em;
    position: absolute;
}