.linkTree {
    display: flex;
    width: 90%;
    padding: 2em 0;
    gap: 1em;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.links {
    display: block;
    border-radius: 1.6em;
    border: 0.1em solid var(--line-color);
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: var(--bg-color);
    transition: all 0.02s ease-in-out;
    word-break: break-all;
    font-size: calc(1.05em + 0.1vw);
    letter-spacing: 0.2px;
}

.links:hover {
    opacity: 0.8;
}