.container {
  max-width: 900px;
  width: 90%;
  height: fit-content;
  margin: 1em auto;
  margin-bottom: 4em;
  letter-spacing: 0.6px;
}

.head {
  width: fit-content;
  font-size: calc(1.2em + 0.3vw);
  padding: 0.3em;
  font-weight: 700;
  letter-spacing: -0.2px;
  border-radius: 12px;
  text-transform: capitalize;
  margin: 1em 0;
}

.title {
  padding: 0.3em;
  padding-right: 0;
  /* padding: 0.8em; */
  font-size: calc(1em + 0.1vw);
  color: var(--font-color);
  display: flex;
  line-height: 24px;
  transition: all 0.1s ease-in-out;
}

.list {
  /* border-left: 2px solid var(--font-color); */
  position: relative;
  /* margin-left: 8px; */
  border-bottom: 0.5px solid #55555580;
}

.post {
  padding-bottom: 1em;
}

/* .post:before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background: rgb(247, 247, 247);
  border: 2px solid #55555580;
  box-shadow: -2px 2px 0 #55555580;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -9px;
  margin-top: 1em;
} */

.tipTitle {
  display: inline-block;
  padding: 0;
  padding: 0 0.6em 0.6em 0;
  margin: 0;
  font-size: calc(1em + 0.3vw);
  font-weight: 600;
}

.tipTitle::before {
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0;
  margin-right: 1em;
  margin-bottom: 3px;
  background-color: rgb(238, 207, 4);
  border: 2px solid rgba(183, 161, 18, 0.639);
  /* box-shadow: -2px 2px 0 rgba(183, 161, 18, 0.639); */
  vertical-align: middle;
}

.tipContent {
  margin-left: 2em;
  font-size: calc(1em + 0.3vw);
  line-height: calc(1.4em + 0.1vw);
}

.headline {
  display: block;
  font-size: calc(1.3em + 0.4vw);
  width: 100%;
  margin: 0;
  padding-bottom: 1em;
  font-weight: 700;
}