.container {
  max-width: 900px;
  width: 90%;
  height: fit-content;
  margin: 2em auto;
  letter-spacing: 0.6px;
}

.head {
  position: relative;
  display: block;
  width: fit-content;
  /* padding-right: 1em; */
  font-size: calc(2em + 0.4vw);
  font-weight: 800;
  letter-spacing: -1px;
  height: 1.2em;
  text-transform: capitalize;
  /* clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%); */
}

.post {
  display: flex;
  padding: 0.8em 0;
  letter-spacing: 0.2px;
}

.post:first-child {
  padding-top: 2em;
}

.post:hover {
  text-decoration: underline;
}

.title {
  display: block;
  font-size: calc(1.17em + 0.1vw);
  line-height: 1.4;
  letter-spacing: 0.3px;
  cursor: pointer;
  font-weight: 500;
  font-family: Poly Sans,Helvetica,Arial,sans-serif;
}

.date {
  display: inline-block;
  margin: 0.4em 0;
  margin-left: 0;
  font-size: calc(0.75em + 0.2vw);
  font-weight: 300;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.date::after {
  content: '•';
  margin: 0 0.5em;
}

.date:last-child::after {
  content: '';
}

.tipTitle {
  display: inline-block;
  padding: 0;
  padding: 1em;
  margin: 0;
  font-size: calc(1.2em + 0.1vw);
  font-weight: 600;
}

.tipContent {
  font-size: calc(1.1em + 0.1vw);
  line-height: calc(1.4em + 0.1vw);
  margin-bottom: 1em;
  padding: 0 1em;
}

.headline {
  display: block;
  font-size: calc(1.3em + 0.4vw);
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  font-weight: 700;
}