# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: GitHub Pages deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: Use Node.js 19.x
        uses: actions/setup-node@v1
        with:
          node-version: '19.x'

      - name: Installing my packages
        run: npm i

      - name: Build my App
        run: npm run build && npm run export && touch ./out/.nojekyll

      - name: Deploy
        uses: rithik-sandron/blog@4.3.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: out
